@{
    ViewData["Title"] = "To-Do List";
}

@model List<TaskModel>

<h1 class="display-2">User Details Page</h1>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Task Id
            </th>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Status
            </th>
            <th>
                Priority
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var user in Model)
            {
                <tr>
                    <td>
                        @user.Id
                    </td>
                    <td>
                        @user.Title
                    </td>
                    <td>
                        @user.TDescription
                    </td>
                    <td>
                        @user.TStatus
                    </td>
                    <td>
                        @user.TPriority
                    </td>
                </tr>
            }
        }
    </tbody>
</table>